*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Tilt Neon" , sans-serif;
}
#main_container{
    display: flex;
    width: 100vw;
    height: 100vh;
}
#left_container{
    width: 50%;
    height: 100%;
    background-color: lightslategray;
}
#right_container{
    width: 50%;
    height: 100%;
}
textarea{
    border-radius: 7px;
    box-shadow: 10px 10px 8px #2f2e2e;
    margin-top: 180px;
    margin-left: 80px;
    padding-top: 20px;
    padding-left: 10px;
    border: none;
}
#left_container #button button{
    height: 55px;
    width: 180px;
    border-radius: 30px;
    border: none;
    background-color: pink;
    margin-top: 50px;
    margin-left: 80px;
}
#left_container #color{
    margin-left: 50px;
}
#right_container h1{
    margin-left: 300px;
    margin-top: 15px;
}
#right_container p{
    text-align: center;
    /* margin-top: 240px; */
}

